fastapi[standard]
holidays
lightgbm
matplotlib
numpy   
pandas
scikit-learn
plotly
seaborn
xgboost
uvicorn
orjson
python-dotenv
python-multipart
catboost
onnxruntime
torch
sentence-transformers
faiss-cpu
groq
langchain-text-splitters
cachetools
PuLP
psutil
openpyxl